@font-face {
  font-family: 'gm-mobile';
  src:  url('fonts/gm-mobile.eot?o8evsg');
  src:  url('fonts/gm-mobile.eot?o8evsg#iefix') format('embedded-opentype'),
    url('fonts/gm-mobile.ttf?o8evsg') format('truetype'),
    url('fonts/gm-mobile.woff?o8evsg') format('woff'),
    url('fonts/gm-mobile.svg?o8evsg#gm-mobile') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gm-"], [class*=" gm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gm-mobile' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gm-addLocation:before {
  content: "\ea2e";
  color: #fff;
}
.gm-clone-dbox-canceled .path1:before {
  content: "\ea05";
  color: rgb(113, 115, 115);
}
.gm-clone-dbox-canceled .path2:before {
  content: "\ea06";
  margin-left: -1.080078125em;
  color: rgb(243, 116, 36);
}
.gm-clone-dbox-canceled .path3:before {
  content: "\ea07";
  margin-left: -1.080078125em;
  color: rgb(255, 255, 255);
}
.gm-clone-dbox-canceled .path4:before {
  content: "\ea08";
  margin-left: -1.080078125em;
  color: rgb(2, 177, 235);
}
.gm-clone-dbox-canceled .path5:before {
  content: "\ea09";
  margin-left: -1.080078125em;
  color: rgb(255, 255, 255);
}
.gm-clone-dbox-canceled .path6:before {
  content: "\ea0a";
  margin-left: -1.080078125em;
  color: rgb(2, 177, 235);
}
.gm-clone-redelivery .path1:before {
  content: "\ea0f";
  color: rgb(113, 115, 115);
}
.gm-clone-redelivery .path2:before {
  content: "\ea10";
  margin-left: -1.1015625em;
  color: rgb(255, 202, 56);
}
.gm-clone-redelivery .path3:before {
  content: "\ea11";
  margin-left: -1.1015625em;
  color: rgb(255, 255, 255);
}
.gm-clone-redelivery .path4:before {
  content: "\ea12";
  margin-left: -1.1015625em;
  color: rgb(2, 177, 235);
}
.gm-clone-redelivery .path5:before {
  content: "\ea13";
  margin-left: -1.1015625em;
  color: rgb(255, 255, 255);
}
.gm-clone-redelivery .path6:before {
  content: "\ea14";
  margin-left: -1.1015625em;
  color: rgb(2, 177, 235);
}
.gm-clone-pending-stop .path1:before {
  content: "\ea15";
  color: rgb(113, 115, 115);
}
.gm-clone-pending-stop .path2:before {
  content: "\ea16";
  margin-left: -0.966796875em;
  color: rgb(2, 177, 235);
}
.gm-clone-pending-stop .path3:before {
  content: "\ea17";
  margin-left: -0.966796875em;
  color: rgb(255, 255, 255);
}
.gm-clone-pending-stop .path4:before {
  content: "\ea18";
  margin-left: -0.966796875em;
  color: rgb(2, 177, 235);
}
.gm-clone-in-progress .path1:before {
  content: "\ea19";
  color: rgb(113, 115, 115);
}
.gm-clone-in-progress .path2:before {
  content: "\ea1a";
  margin-left: -1.083984375em;
  color: rgb(176, 210, 90);
}
.gm-clone-in-progress .path3:before {
  content: "\ea1b";
  margin-left: -1.083984375em;
  color: rgb(255, 255, 255);
}
.gm-clone-in-progress .path4:before {
  content: "\ea1c";
  margin-left: -1.083984375em;
  color: rgb(255, 255, 255);
}
.gm-clone-in-progress .path5:before {
  content: "\ea1d";
  margin-left: -1.083984375em;
  color: rgb(255, 255, 255);
}
.gm-clone-in-progress .path6:before {
  content: "\ea1e";
  margin-left: -1.083984375em;
  color: rgb(255, 255, 255);
}
.gm-clone-in-progress .path7:before {
  content: "\ea1f";
  margin-left: -1.083984375em;
  color: rgb(255, 255, 255);
}
.gm-clone-in-progress .path8:before {
  content: "\ea20";
  margin-left: -1.083984375em;
  color: rgb(2, 177, 235);
}
.gm-clone-in-progress .path9:before {
  content: "\ea21";
  margin-left: -1.083984375em;
  color: rgb(255, 255, 255);
}
.gm-clone-in-progress .path10:before {
  content: "\ea22";
  margin-left: -1.083984375em;
  color: rgb(2, 177, 235);
}
.gm-clone-circled-checkmark .path1:before {
  content: "\ea23";
  color: rgb(113, 115, 115);
}
.gm-clone-circled-checkmark .path2:before {
  content: "\ea24";
  margin-left: -1.1123046875em;
  color: rgb(75, 185, 112);
}
.gm-clone-circled-checkmark .path3:before {
  content: "\ea25";
  margin-left: -1.1123046875em;
  color: rgb(255, 255, 255);
}
.gm-clone-circled-checkmark .path4:before {
  content: "\ea26";
  margin-left: -1.1123046875em;
  color: rgb(2, 177, 235);
}
.gm-clone-circled-checkmark .path5:before {
  content: "\ea27";
  margin-left: -1.1123046875em;
  color: rgb(255, 255, 255);
}
.gm-clone-circled-checkmark .path6:before {
  content: "\ea28";
  margin-left: -1.1123046875em;
  color: rgb(2, 177, 235);
}
.gm-clone-canceled .path1:before {
  content: "\ea29";
  color: rgb(113, 115, 115);
}
.gm-clone-canceled .path2:before {
  content: "\ea2a";
  margin-left: -0.947265625em;
  color: rgb(2, 177, 235);
}
.gm-clone-canceled .path3:before {
  content: "\ea2b";
  margin-left: -0.947265625em;
  color: rgb(255, 255, 255);
}
.gm-clone-canceled .path4:before {
  content: "\ea2c";
  margin-left: -0.947265625em;
  color: rgb(2, 177, 235);
}
.gm-clone-canceled .path5:before {
  content: "\ea2d";
  margin-left: -0.947265625em;
  color: rgb(238, 62, 37);
}
.gm-indicator .path1:before {
  content: "\ea0b";
  color: rgb(113, 114, 114);
}
.gm-indicator .path2:before {
  content: "\ea0c";
  margin-left: -0.779296875em;
  color: rgb(250, 168, 0);
}
.gm-indicator .path3:before {
  content: "\ea0d";
  margin-left: -0.779296875em;
  color: rgb(113, 114, 114);
}
.gm-Group-303:before {
  content: "\ea0e";
}
.gm-destination .path1:before {
  content: "\e9ed";
  color: rgb(238, 62, 37);
}
.gm-destination .path2:before {
  content: "\e9ee";
  margin-left: -0.9482421875em;
  color: rgb(238, 62, 37);
}
.gm-destination .path3:before {
  content: "\e9ef";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-destination .path4:before {
  content: "\e9f0";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-destination .path5:before {
  content: "\e9f1";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-destination .path6:before {
  content: "\e9f2";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-destination .path7:before {
  content: "\e9f3";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-destination .path8:before {
  content: "\e9f4";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-destination .path9:before {
  content: "\e9f5";
  margin-left: -0.9482421875em;
  color: rgb(250, 168, 0);
}
.gm-destination .path10:before {
  content: "\e9f6";
  margin-left: -0.9482421875em;
  color: rgb(250, 168, 0);
}
.gm-destination .path11:before {
  content: "\e9f7";
  margin-left: -0.9482421875em;
  color: rgb(250, 168, 0);
}
.gm-destination .path12:before {
  content: "\e9f8";
  margin-left: -0.9482421875em;
  color: rgb(250, 168, 0);
}
.gm-origin .path1:before {
  content: "\e9f9";
  color: rgb(238, 62, 37);
}
.gm-origin .path2:before {
  content: "\e9fa";
  margin-left: -0.9482421875em;
  color: rgb(238, 62, 37);
}
.gm-origin .path3:before {
  content: "\e9fb";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-origin .path4:before {
  content: "\e9fc";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-origin .path5:before {
  content: "\e9fd";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-origin .path6:before {
  content: "\e9fe";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-origin .path7:before {
  content: "\e9ff";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-origin .path8:before {
  content: "\ea00";
  margin-left: -0.9482421875em;
  color: rgb(255, 255, 255);
}
.gm-origin .path9:before {
  content: "\ea01";
  margin-left: -0.9482421875em;
  color: rgb(58, 163, 72);
}
.gm-origin .path10:before {
  content: "\ea02";
  margin-left: -0.9482421875em;
  color: rgb(58, 163, 72);
}
.gm-origin .path11:before {
  content: "\ea03";
  margin-left: -0.9482421875em;
  color: rgb(58, 163, 72);
}
.gm-origin .path12:before {
  content: "\ea04";
  margin-left: -0.9482421875em;
  color: rgb(58, 163, 72);
}
.gm-star-empty:before {
  content: "\e94d";
  color: #ccc;
}
.gm-star-full:before {
  content: "\e94e";
  color: #b0d25a;
}
.gm-view:before {
  content: "\e9ec";
  color: #e1e1e1;
}
.gm-reorder:before {
  content: "\e9eb";
  color: #fff;
}
.gm-onboarding-submit:before {
  content: "\e9e9";
  color: #fff;
}
.gm-tour:before {
  content: "\e9ea";
  color: #fff;
}
.gm-boarding-finger .path1:before {
  content: "\e9e4";
  color: rgb(255, 255, 255);
}
.gm-boarding-finger .path2:before {
  content: "\e9e5";
  margin-left: -0.70703125em;
  color: rgb(109, 110, 113);
}
.gm-boarding-finger .path3:before {
  content: "\e9e6";
  margin-left: -0.70703125em;
  color: rgb(88, 89, 91);
}
.gm-boarding-finger .path4:before {
  content: "\e9e7";
  margin-left: -0.70703125em;
  color: rgb(204, 204, 204);
}
.gm-boarding-finger .path5:before {
  content: "\e9e8";
  margin-left: -0.70703125em;
  color: rgb(88, 89, 91);
}
.gm-depot .path1:before {
  content: "\e9dc";
  color: rgb(238, 62, 37);
}
.gm-depot .path2:before {
  content: "\e9dd";
  margin-left: -1.0478515625em;
  color: rgb(238, 62, 37);
}
.gm-depot .path3:before {
  content: "\e9de";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.gm-depot .path4:before {
  content: "\e9df";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.gm-depot .path5:before {
  content: "\e9e0";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.gm-depot .path6:before {
  content: "\e9e1";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.gm-depot .path7:before {
  content: "\e9e2";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.gm-depot .path8:before {
  content: "\e9e3";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.gm-paid-break .path1:before {
  content: "\e9d3";
  color: rgb(94, 160, 205);
}
.gm-paid-break .path2:before {
  content: "\e9d4";
  margin-left: -1.0341796875em;
  color: rgb(255, 255, 255);
}
.gm-paid-break .path3:before {
  content: "\e9d5";
  margin-left: -1.0341796875em;
  color: rgb(243, 116, 36);
}
.gm-paid-overnight .path1:before {
  content: "\e9d6";
  color: rgb(94, 160, 205);
}
.gm-paid-overnight .path2:before {
  content: "\e9d7";
  margin-left: -1.1025390625em;
  color: rgb(255, 255, 255);
}
.gm-paid-overnight .path3:before {
  content: "\e9d8";
  margin-left: -1.1025390625em;
  color: rgb(243, 116, 36);
}
.gm-paid-wait .path1:before {
  content: "\e9d9";
  color: rgb(94, 160, 205);
}
.gm-paid-wait .path2:before {
  content: "\e9da";
  margin-left: -0.9658203125em;
  color: rgb(255, 255, 255);
}
.gm-paid-wait .path3:before {
  content: "\e9db";
  margin-left: -0.9658203125em;
  color: rgb(243, 116, 36);
}
.gm-cloned-stop .path1:before {
  content: "\e9cc";
  color: rgb(113, 115, 115);
}
.gm-cloned-stop .path2:before {
  content: "\e9cd";
  margin-left: -1.296875em;
  color: rgb(0, 177, 235);
}
.gm-cloned-stop .path3:before {
  content: "\e9ce";
  margin-left: -1.296875em;
  color: rgb(255, 255, 255);
}
.gm-cloned-stop .path4:before {
  content: "\e9cf";
  margin-left: -1.296875em;
  color: rgb(255, 255, 255);
}
.gm-unpaid-break:before {
  content: "\e9d0";
  color: #5ea0cd;
}
.gm-unpaid-overnight:before {
  content: "\e9d1";
  color: #5ea0cd;
}
.gm-unpaid-wait:before {
  content: "\e9d2";
  color: #5ea0cd;
}
.gm-review-route:before {
  content: "\e9ca";
}
.gm-smart-track:before {
  content: "\e9cb";
}
.gm-helpers:before {
  content: "\e9c9";
  color: #fff;
}
.gm-box-white:before {
  content: "\e9c8";
  color: #fff;
}
.gm-sidemenu-chat:before {
  content: "\e9c6";
  color: #e1e1e1;
}
.gm-message-symbol-3 .path1:before {
  content: "\e9c3";
  color: rgb(176, 210, 90);
}
.gm-message-symbol-3 .path2:before {
  content: "\e9c4";
  margin-left: -1.5205078125em;
  color: rgb(255, 255, 255);
}
.gm-message-symbol-3 .path3:before {
  content: "\e9c5";
  margin-left: -1.5205078125em;
  color: rgb(77, 187, 114);
}
.gm-left-quote:before {
  content: "\e9c1";
  color: #4dbb72;
}
.gm-right-quote:before {
  content: "\e9c2";
  color: #4dbb72;
}
.gm-message-sent-symbol:before {
  content: "\e9c0";
  color: #7f898f;
}
.gm-message-symbol-1:before {
  content: "\e9be";
  color: #fff;
}
.gm-message-symbol-2:before {
  content: "\e9bf";
  color: #7f898f;
}
.gm-dispatcher-balloon-1 .path1:before {
  content: "\e9ba";
  color: rgb(255, 255, 255);
}
.gm-dispatcher-balloon-1 .path2:before {
  content: "\e9bb";
  margin-left: -0.9736328125em;
  color: rgb(176, 210, 90);
}
.gm-dispatcher-balloon-2 .path1:before {
  content: "\e9bc";
  color: rgb(176, 210, 90);
}
.gm-dispatcher-balloon-2 .path2:before {
  content: "\e9bd";
  margin-left: -0.9736328125em;
  color: rgb(127, 137, 143);
}
.gm-unread-messages:before {
  content: "\e9b9";
  color: #3aa348;
}
.gm-clone:before {
  content: "\e9b8";
  color: #717272;
}
.gm-arrive .path1:before {
  content: "\e9b1";
  color: rgb(113, 115, 115);
}
.gm-arrive .path2:before {
  content: "\e9b2";
  margin-left: -1.2529296875em;
  color: rgb(58, 163, 72);
}
.gm-arrive .path3:before {
  content: "\e9b3";
  margin-left: -1.2529296875em;
  color: rgb(255, 255, 255);
}
.gm-arrive .path4:before {
  content: "\e9b4";
  margin-left: -1.2529296875em;
  color: rgb(255, 255, 255);
}
.gm-arrive .path5:before {
  content: "\e9b5";
  margin-left: -1.2529296875em;
  color: rgb(255, 255, 255);
}
.gm-arrive .path6:before {
  content: "\e9b6";
  margin-left: -1.2529296875em;
  color: rgb(255, 255, 255);
}
.gm-arrive .path7:before {
  content: "\e9b7";
  margin-left: -1.2529296875em;
  color: rgb(255, 255, 255);
}
.gm-search-close-edit .path1:before {
  content: "\e9ad";
  color: rgb(149, 152, 154);
}
.gm-search-close-edit .path2:before {
  content: "\e9ae";
  margin-left: -1.2021484375em;
  color: rgb(58, 163, 72);
}
.gm-search-edit .path1:before {
  content: "\e9af";
  color: rgb(58, 163, 72);
}
.gm-search-edit .path2:before {
  content: "\e9b0";
  margin-left: -0.978515625em;
  color: rgb(149, 152, 154);
}
.gm-jump-arrow:before {
  content: "\e959";
  color: #3aa348;
}
.gm-next-arrows:before {
  content: "\e957";
  color: #3aa348;
}
.gm-prev-arrows:before {
  content: "\e958";
  color: #3aa348;
}
.gm-service:before {
  content: "\e952";
  color: #fff;
}
.gm-clock-green .path1:before {
  content: "\e903";
  color: rgb(122, 123, 126);
}
.gm-clock-green .path2:before {
  content: "\e943";
  margin-left: -0.8759765625em;
  color: rgb(176, 210, 90);
}
.gm-clock-red .path1:before {
  content: "\e950";
  color: rgb(122, 123, 126);
}
.gm-clock-red .path2:before {
  content: "\e951";
  margin-left: -0.8759765625em;
  color: rgb(239, 69, 38);
}
.gm-circled-star .path1:before {
  content: "\e9ab";
  color: rgb(255, 255, 255);
}
.gm-circled-star .path2:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(176, 210, 90);
}
.gm-bottle .path1:before {
  content: "\e9a5";
  color: rgb(113, 114, 114);
}
.gm-bottle .path2:before {
  content: "\e9a6";
  margin-left: -0.85546875em;
  color: rgb(113, 114, 114);
}
.gm-bottle .path3:before {
  content: "\e9a7";
  margin-left: -0.85546875em;
  color: rgb(255, 255, 255);
}
.gm-bottle .path4:before {
  content: "\e9a8";
  margin-left: -0.85546875em;
  color: rgb(255, 255, 255);
}
.gm-bottle .path5:before {
  content: "\e9a9";
  margin-left: -0.85546875em;
  color: rgb(113, 114, 114);
}
.gm-cart:before {
  content: "\e9aa";
  color: #fff;
}
.gm-padlock:before {
  content: "\e99e";
}
.gm-cancel-all-stops .path1:before {
  content: "\e99a";
  color: rgb(255, 255, 255);
}
.gm-cancel-all-stops .path2:before {
  content: "\e99b";
  margin-left: -1.099609375em;
  color: rgb(238, 62, 37);
}
.gm-cancel-stop .path1:before {
  content: "\e99c";
  color: rgb(255, 255, 255);
}
.gm-cancel-stop .path2:before {
  content: "\e99d";
  margin-left: -1.1455078125em;
  color: rgb(238, 62, 37);
}
.gm-in-progress .path1:before {
  content: "\e98f";
  color: rgb(192, 191, 191);
}
.gm-in-progress .path2:before {
  content: "\e990";
  margin-left: -1.2001953125em;
  color: rgb(176, 210, 90);
}
.gm-in-progress .path3:before {
  content: "\e991";
  margin-left: -1.2001953125em;
  color: rgb(255, 255, 255);
}
.gm-in-progress .path4:before {
  content: "\e992";
  margin-left: -1.2001953125em;
  color: rgb(255, 255, 255);
}
.gm-in-progress .path5:before {
  content: "\e993";
  margin-left: -1.2001953125em;
  color: rgb(255, 255, 255);
}
.gm-in-progress .path6:before {
  content: "\e994";
  margin-left: -1.2001953125em;
  color: rgb(255, 255, 255);
}
.gm-in-progress .path7:before {
  content: "\e995";
  margin-left: -1.2001953125em;
  color: rgb(255, 255, 255);
}
.gm-pending-stop:before {
  content: "\e996";
  color: #c0bfbf;
}
.gm-bulk-arrival .path1:before {
  content: "\e997";
  color: rgb(113, 115, 115);
}
.gm-bulk-arrival .path2:before {
  content: "\e998";
  margin-left: -1.302734375em;
  color: rgb(176, 210, 90);
}
.gm-bulk-arrival .path3:before {
  content: "\e999";
  margin-left: -1.302734375em;
  color: rgb(255, 255, 255);
}
.gm-add:before {
  content: "\e98d";
  color: #3aa348;
}
.gm-remove:before {
  content: "\e98e";
  color: #ee3c25;
}
.gm-canceled .path1:before {
  content: "\e906";
  color: rgb(113, 115, 115);
}
.gm-canceled .path2:before {
  content: "\e907";
  margin-left: -1.07421875em;
  color: rgb(238, 62, 37);
}
.gm-redelivery .path1:before {
  content: "\e908";
  color: rgb(192, 191, 191);
}
.gm-redelivery .path2:before {
  content: "\e909";
  margin-left: -1.2529296875em;
  color: rgb(243, 116, 36);
}
.gm-redelivery .path3:before {
  content: "\e972";
  margin-left: -1.2529296875em;
  color: rgb(243, 116, 36);
}
.gm-redelivery .path4:before {
  content: "\e973";
  margin-left: -1.2529296875em;
  color: rgb(255, 255, 255);
}
.gm-end-route:before {
  content: "\e900";
  color: #fff;
}
.gm-add-stop .path1:before {
  content: "\e901";
  color: rgb(113, 114, 114);
}
.gm-add-stop .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gm-undeliverable .path1:before {
  content: "\e97d";
  color: rgb(255, 255, 255);
}
.gm-undeliverable .path2:before {
  content: "\e97e";
  margin-left: -1.21875em;
  color: rgb(238, 62, 37);
}
.gm-undeliverable .path3:before {
  content: "\e97f";
  margin-left: -1.21875em;
  color: rgb(255, 255, 255);
}
.gm-dashing-star:before {
  content: "\e96b";
  color: #fff;
}
.gm-erase:before {
  content: "\e96c";
  color: #fff;
}
.gm-pen:before {
  content: "\e96d";
  color: #fff;
}
.gm-cancel-selected-stop .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.gm-cancel-selected-stop .path2:before {
  content: "\e905";
  margin-left: -1.1083984375em;
  color: rgb(238, 62, 37);
}
.gm-redeliver .path1:before {
  content: "\e90b";
  color: rgb(255, 255, 255);
}
.gm-redeliver .path2:before {
  content: "\e90f";
  margin-left: -1.2529296875em;
  color: rgb(243, 116, 36);
}
.gm-redeliver .path3:before {
  content: "\e974";
  margin-left: -1.2529296875em;
  color: rgb(243, 116, 36);
}
.gm-redeliver .path4:before {
  content: "\e975";
  margin-left: -1.2529296875em;
  color: rgb(255, 255, 255);
}
.gm-damaged:before {
  content: "\e96a";
  color: #fff;
}
.gm-professional:before {
  content: "\e96e";
  color: #fff;
}
.gm-stops:before {
  content: "\e940";
  color: #fff;
}
.gm-clipboard-add:before {
  content: "\e90a";
  color: #717373;
}
.gm-ringing-bell:before {
  content: "\e93b";
  color: #ee3c25;
}
.gm-simple-clock:before {
  content: "\e93f";
  color: #b0d25a;
}
.gm-pencil:before {
  content: "\e922";
  color: #fff;
}
.gm-cancelled-money .path1:before {
  content: "\e965";
  color: rgb(204, 204, 204);
}
.gm-cancelled-money .path2:before {
  content: "\e966";
  margin-left: -1.302734375em;
  color: rgb(113, 114, 114);
}
.gm-other-payment:before {
  content: "\e967";
  color: #717272;
}
.gm-delivery:before {
  content: "\e963";
  color: #b0d25a;
}
.gm-pickup:before {
  content: "\e964";
  color: #5ea0cd;
}
.gm-more:before {
  content: "\e956";
}
.gm-driving:before {
  content: "\e95a";
  color: #fff;
}
.gm-stop-list:before {
  content: "\e95b";
  color: #fff;
}
.gm-off-duty:before {
  content: "\e95c";
  color: #fff;
}
.gm-stop:before {
  content: "\e95d";
  color: #fff;
}
.gm-welcome:before {
  content: "\e95e";
  color: #fff;
}
.gm-coffee:before {
  content: "\e95f";
  color: #fff;
}
.gm-lunch:before {
  content: "\e960";
  color: #fff;
}
.gm-on-duty:before {
  content: "\e961";
  color: #fff;
}
.gm-pass-check-valid .path1:before {
  content: "\e925";
  color: rgb(94, 97, 97);
}
.gm-pass-check-valid .path2:before {
  content: "\e926";
  margin-left: -0.818359375em;
  color: rgb(255, 255, 255);
}
.gm-pass-check-valid .path3:before {
  content: "\e927";
  margin-left: -0.818359375em;
  color: rgb(75, 185, 112);
}
.gm-pass-check-invalid .path1:before {
  content: "\e928";
  color: rgb(94, 97, 97);
}
.gm-pass-check-invalid .path2:before {
  content: "\e929";
  margin-left: -0.818359375em;
  color: rgb(255, 255, 255);
}
.gm-pass-check-invalid .path3:before {
  content: "\e92a";
  margin-left: -0.818359375em;
  color: rgb(238, 62, 37);
}
.gm-pass-check-neutral .path1:before {
  content: "\e92b";
  color: rgb(94, 97, 97);
}
.gm-pass-check-neutral .path2:before {
  content: "\e92c";
  margin-left: -0.818359375em;
  color: rgb(255, 255, 255);
}
.gm-pass-check-neutral .path3:before {
  content: "\e92d";
  margin-left: -0.818359375em;
  color: rgb(236, 236, 236);
}
.gm-qr-code:before {
  content: "\e617";
}
.gm-cogs:before {
  content: "\e90c";
  color: #e1e1e1;
}
.gm-message-balloon:before {
  content: "\e91b";
  color: #e1e1e1;
}
.gm-photos:before {
  content: "\e920";
  color: #e1e1e1;
}
.gm-calendar:before {
  content: "\e954";
}
.gm-route2:before {
  content: "\e953";
  color: #78a730;
}
.gm-d-box:before {
  content: "\e90d";
}
.gm-dbox-canceled .path1:before {
  content: "\e90e";
  color: rgb(113, 115, 115);
}
.gm-dbox-canceled .path2:before {
  content: "\e976";
  margin-left: -1.2421875em;
  color: rgb(255, 255, 255);
}
.gm-dbox-canceled .path3:before {
  content: "\e977";
  margin-left: -1.2421875em;
  color: rgb(238, 60, 37);
}
.gm-bag:before {
  content: "\e913";
  color: #b0d25a;
}
.gm-bank:before {
  content: "\e914";
  color: #fff;
}
.gm-box:before {
  content: "\e91d";
  color: #b0d25a;
}
.gm-camera:before {
  content: "\e91e";
  color: #fff;
}
.gm-cancelled:before {
  content: "\e91f";
  color: #ee3c25;
}
.gm-checkmark:before {
  content: "\e921";
  color: #fff;
}
.gm-chevron-down-many:before {
  content: "\e923";
}
.gm-circled-checkmark:before {
  content: "\e924";
  color: #3aa348;
}
.gm-circled-cross:before {
  content: "\e92e";
  color: #ee3c25;
}
.gm-circled-dolar:before {
  content: "\e92f";
  color: #717272;
}
.gm-circled-pencil .path1:before {
  content: "\e930";
  color: rgb(243, 116, 36);
}
.gm-circled-pencil .path2:before {
  content: "\e931";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.gm-compass:before {
  content: "\e932";
  color: #717272;
}
.gm-computer:before {
  content: "\e933";
  color: #ebebeb;
}
.gm-creditcard:before {
  content: "\e934";
  color: #afd462;
}
.gm-cup:before {
  content: "\e935";
  color: #fff;
}
.gm-flag:before {
  content: "\e936";
  color: #fff200;
}
.gm-hamburguer:before {
  content: "\e937";
  color: #fefdff;
}
.gm-key:before {
  content: "\e938";
  color: #e1e1e1;
}
.gm-location:before {
  content: "\e939";
  color: #fff;
}
.gm-money:before {
  content: "\e93a";
  color: #b0d25a;
}
.gm-money2:before {
  content: "\e93c";
  color: #717272;
}
.gm-money3:before {
  content: "\e93d";
  color: #717272;
}
.gm-path .path1:before {
  content: "\e93e";
  color: rgb(255, 255, 255);
}
.gm-path .path2:before {
  content: "\e941";
  margin-left: -1.119140625em;
  color: rgb(58, 163, 72);
}
.gm-phone:before {
  content: "\e942";
  color: #ebebeb;
}
.gm-planet:before {
  content: "\e944";
  color: #ebebeb;
}
.gm-road:before {
  content: "\e946";
  color: #b0d25a;
}
.gm-route:before {
  content: "\e947";
  color: #e1e1e1;
}
.gm-sad:before {
  content: "\e948";
  color: #7d7d7d;
}
.gm-search:before {
  content: "\e949";
}
.gm-sidetruck:before {
  content: "\e94a";
  color: #e1e1e1;
}
.gm-silverware:before {
  content: "\e94b";
  color: #fff;
}
.gm-smile:before {
  content: "\e94c";
}
.gm-stop-pin:before {
  content: "\e94f";
  color: #b0d25a;
}
.gm-tablet:before {
  content: "\e955";
  color: #717272;
}
.gm-triangle-warning .path1:before {
  content: "\e962";
  color: rgb(243, 116, 36);
}
.gm-triangle-warning .path2:before {
  content: "\e968";
  margin-left: -1.265625em;
  color: rgb(255, 255, 255);
}
.gm-truck .path1:before {
  content: "\e969";
  color: rgb(255, 255, 255);
}
.gm-truck .path2:before {
  content: "\e96f";
  margin-left: -0.857421875em;
  color: rgb(255, 255, 255);
}
.gm-truck .path3:before {
  content: "\e970";
  margin-left: -0.857421875em;
  color: rgb(58, 163, 72);
}
.gm-truck .path4:before {
  content: "\e971";
  margin-left: -0.857421875em;
  color: rgb(58, 163, 72);
}
.gm-truckside2:before {
  content: "\e978";
  color: #f5f6f7;
}
.gm-user:before {
  content: "\e979";
  color: #e1e1e1;
}
.gm-watch:before {
  content: "\e97a";
  color: #b0d25a;
}
.gm-windows-check:before {
  content: "\e97b";
  color: #fff;
}
.gm-windows:before {
  content: "\e97c";
  color: #fff;
}
.gm-truck-white-disabled .path1:before {
  content: "\1f69b";
  color: rgb(255, 255, 255);
}
.gm-truck-white-disabled .path2:before {
  content: "\1f69c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gm-truck-white-disabled .path3:before {
  content: "\1f69d";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.gm-truck-white-disabled .path4:before {
  content: "\1f69e";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.gm-truck-white .path1:before {
  content: "\1f69a";
  color: rgb(255, 255, 255);
}
.gm-truck-white .path2:before {
  content: "\1f69f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gm-truck-white .path3:before {
  content: "\1f6a0";
  margin-left: -1em;
  color: rgb(58, 163, 72);
}
.gm-truck-white .path4:before {
  content: "\1f6a1";
  margin-left: -1em;
  color: rgb(58, 163, 72);
}
.gm-forklift-boxes:before {
  content: "\1f5c2";
  color: #fff;
}
.gm-forklift-box:before {
  content: "\1f4e6";
  color: #fff;
}
.gm-truck-color .path1:before {
  content: "\1f680";
  color: rgb(24, 24, 24);
}
.gm-truck-color .path2:before {
  content: "\1f681";
  margin-left: -1em;
  color: rgb(53, 67, 91);
}
.gm-truck-color .path3:before {
  content: "\1f682";
  margin-left: -1em;
  color: rgb(95, 160, 204);
}
.gm-truck-color .path4:before {
  content: "\1f683";
  margin-left: -1em;
  color: rgb(176, 210, 90);
}
.gm-truck-color .path5:before {
  content: "\1f684";
  margin-left: -1em;
  color: rgb(51, 52, 60);
}
.gm-truck-color .path6:before {
  content: "\1f685";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gm-loader-logo .path1:before {
  content: "\2705";
  color: rgb(41, 160, 124);
}
.gm-loader-logo .path2:before {
  content: "\2706";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gm-loader-logo .path3:before {
  content: "\2707";
  margin-left: -1em;
  color: rgb(139, 176, 62);
}
.gm-loader-logo .path4:before {
  content: "\2708";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gm-loader-logo .path5:before {
  content: "\2709";
  margin-left: -1em;
  color: rgb(139, 176, 62);
}
.gm-loader-logo .path6:before {
  content: "\270a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gm-loader-logo .path7:before {
  content: "\270b";
  margin-left: -1em;
  color: rgb(139, 176, 62);
}
.gm-return-arrow:before {
  content: "\e945";
  color: #fff;
}
.gm-keys:before {
  content: "\e915";
  color: #e1e1e1;
}
.gm-dbox-checked .path1:before {
  content: "\e910";
  color: rgb(255, 255, 255);
}
.gm-dbox-checked .path2:before {
  content: "\e911";
  margin-left: -1.2421875em;
  color: rgb(58, 163, 72);
}
.gm-dbox-checked .path3:before {
  content: "\e912";
  margin-left: -1.2421875em;
  color: rgb(255, 255, 255);
}
.gm-bottles-partial .path1:before {
  content: "\e916";
  color: rgb(192, 191, 191);
}
.gm-bottles-partial .path2:before {
  content: "\e917";
  margin-left: -0.8447265625em;
  color: rgb(192, 191, 191);
}
.gm-bottles-partial .path3:before {
  content: "\e918";
  margin-left: -0.8447265625em;
  color: rgb(113, 114, 114);
}
.gm-bottles-partial .path4:before {
  content: "\e919";
  margin-left: -0.8447265625em;
  color: rgb(113, 114, 114);
}
.gm-bottles-partial .path5:before {
  content: "\e91a";
  margin-left: -0.8447265625em;
  color: rgb(113, 114, 114);
}
.gm-bottles:before {
  content: "\e91c";
  color: #b0d25a;
}
.gm-add-bottles .path1:before {
  content: "\e99f";
  color: rgb(255, 255, 255);
}
.gm-add-bottles .path2:before {
  content: "\e9a0";
  margin-left: -0.9765625em;
  color: rgb(255, 255, 255);
}
.gm-add-bottles .path3:before {
  content: "\e9a1";
  margin-left: -0.9765625em;
  color: rgb(255, 255, 255);
}
.gm-add-bottles .path4:before {
  content: "\e9a2";
  margin-left: -0.9765625em;
  color: rgb(255, 255, 255);
}
.gm-add-bottles .path5:before {
  content: "\e9a3";
  margin-left: -0.9765625em;
  color: rgb(255, 255, 255);
}
.gm-add-bottles .path6:before {
  content: "\e9a4";
  margin-left: -0.9765625em;
  color: rgb(58, 163, 72);
}
.gm-bottles-white:before {
  content: "\e9c7";
  color: #fff;
}
.gm-arrive-box-enabled .path1:before {
  content: "\e980";
  color: rgb(255, 255, 255);
}
.gm-arrive-box-enabled .path2:before {
  content: "\e981";
  margin-left: -1.2490234375em;
  color: rgb(58, 163, 72);
}
.gm-arrive-box-enabled .path3:before {
  content: "\e982";
  margin-left: -1.2490234375em;
  color: rgb(255, 255, 255);
}
.gm-arrive-box-enabled .path4:before {
  content: "\e983";
  margin-left: -1.2490234375em;
  color: rgb(255, 255, 255);
}
.gm-arrive-box-enabled .path5:before {
  content: "\e984";
  margin-left: -1.2490234375em;
  color: rgb(255, 255, 255);
}
.gm-arrive-box-enabled .path6:before {
  content: "\e985";
  margin-left: -1.2490234375em;
  color: rgb(255, 255, 255);
}
.gm-arrive-box-enabled .path7:before {
  content: "\e986";
  margin-left: -1.2490234375em;
  color: rgb(255, 255, 255);
}
.gm-dbox-disabled .path1:before {
  content: "\e987";
  color: rgb(255, 255, 255);
}
.gm-dbox-disabled .path2:before {
  content: "\e988";
  margin-left: -1.2421875em;
  color: rgb(113, 114, 114);
}
.gm-dbox-disabled .path3:before {
  content: "\e989";
  margin-left: -1.2421875em;
  color: rgb(255, 255, 255);
}
.gm-dbox-disabled2 .path1:before {
  content: "\e98a";
  color: rgb(255, 255, 255);
}
.gm-dbox-disabled2 .path2:before {
  content: "\e98b";
  margin-left: -1.2421875em;
  color: rgb(204, 204, 204);
}
.gm-dbox-disabled2 .path3:before {
  content: "\e98c";
  margin-left: -1.2421875em;
  color: rgb(255, 255, 255);
}
